@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    background: whitesmoke;
    z-index: 1;
    padding-left: 160px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.body-items {
    width: 1890px;
    height: 100%;
    display: flex;
    background: #e9e3e3;
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
    overflow-y: auto;
    overscroll-behavior-y: contain;
}

.menu-email {
    width: 240px;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    border-right: 1px solid #ccc;
    gap: 20px;
}

.logo-body {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 5px;
    padding-top: 10px;
}

#search-input {
   width: 160px;
   height: 30px;
   border: 1px solid #ccc;
   border-radius: 5px;
   display: flex;
   transform: translate(70px, 7px);
   padding-left: 10px;
   flex-direction: row;
   position: absolute;
   gap: 7px;
   outline: none;
}

.logo {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: 1px solid #ccc;
   background-image: url('logoss.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.inbox {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-left: 5px;
    align-items: center;
    font-family: sans-serif;
    cursor: pointer;
}

.sent {
    width: 100%;
    height: 50px;
    border: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-left: 5px;
    align-items: center;
    cursor: pointer;
    font-family: sans-serif;
}

.sent-later {
    width: 100%;
    height: 50px;
    border: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-left: 5px;
    align-items: center;
    font-family: sans-serif;
    cursor: pointer;
}

.sent-mail {
    width: 100%;
    height: 50px;
    border: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-left: 5px;
    align-items: center;
    font-family: sans-serif;
    cursor: pointer;
}

.workspace {
    width: 100%;
    height: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #d8d7d7;
    font-family: sans-serif;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    background: #fff;
    align-items: flex-start;
    overflow: hidden;
    padding-bottom: 23px;
}

.mail-list-div {
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding-left: 10px;
    flex-direction: row;
    gap: 30px;
    font-family: sans-serif;
    font-size: 13px;
}

.mail-list-div:hover {
    transform: translateY(1px);
    background: #d8d7d7;
    cursor: pointer;
}

.inbox:hover {
    transform: translateY(1px);
    background: #d8d7d7;
    cursor: pointer;
}

.sent:hover {
    transform: translateY(1px);
    background: #d8d7d7;
    cursor: pointer;
}

.sent-later:hover {
    transform: translateY(1px);
    background: #d8d7d7;
    cursor: pointer;
}

.sent-mail:hover {
    transform: translateY(1px);
    background: #d8d7d7;
    cursor: pointer;
}

.workspace:hover {
    display: flex;
    position: absolute;
    z-index: 300;
    height: 300px;
    top: 60px;
    left: 0;
    align-items: flex-start;
    flex-direction: column;
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    gap: 20px;
}

.auxiliar-menu {
    width: 100%;
    height: auto;
    align-items: center;
}

.sistema-route {
    width: 100%;
    height: 40px;
    display: flex;
    cursor: pointer;
    color: #d8d7d7;
}

.sistema-route:hover {
    transform: translateY(1px);
    background: #cacbcc;
    cursor: pointer;
    color: #2196f7;
}

/* style from page of view the's emails*/

.main-div {
    width: 1820px;
    height: 1400px;
    background: transparent;
    display: flex;
    border-radius: 7px;
    border: 1px solid red;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    left: 30px;
    top: 40px;
}

.topo {
    width: 100%;
    height: 50px;
    background: #fff;
    border: 1px solid #ccc;
    display: flex;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    align-items: center;
    padding-left: 10px;
    flex-direction: row;
    gap: 5px;
}

.user-icon {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-email {
    width: auto;
    height: 20px;
    border: 1px solid #ccc;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Poppins';
    font-size: 12px;
}

.sent-hour {
    width: 160px;
    height: 20px;
    border: 1px solid #ccc;
    display: flex;
    transform: translateX(700px);
    border-radius: 4px;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.add-infos {
  width: 299px;
  height: 300px;
  border: none;
  border-radius: 7px;
  background: whitesmoke;
}

.email-card {
    width: 1500px;
    height: 300px;
    background: whitesmoke;
    border-radius: 7px;
    border: 1px solid #ccc;
}

/* style for page of send emails */

.bar {
    width: 1500px;
    height: 48px;
    background-color: whitesmoke;
    font-size: 14px;
    font-family: 'Poppins';
    display: none;
    align-items: center;
    padding-left: 20px;
    border-top-left-radius: 5px;
    border-left: 1px solid #2196f7;
    border-top: 1px solid #2196f7;
    border-bottom: 1px solid #2196f7;
    border-right: 1px solid #2196f7;
    cursor: grab;
    user-select: none;
}

#formSmtp {
    width: 1500px;
    height: 900px;
    display: none;
    flex-direction: column;
    gap: 10px;
    
    border-bottom-right-radius: 5px;
    border: 1px solid #2196f7;
    padding: 20px;
    background: whitesmoke;
}

#formSmtp.ativa {
    display: flex !important;
}

.bar.ativa {
    display: flex !important;
}

input {
    width: auto;
    height: 40px;
    display: flex;
    outline: none;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
}

#corpo {
    width: auto;
    height: 700px;
    outline: none;
    padding-left: 10px;
    align-items: center;
    padding-top: 3px;
    resize: none;
    overflow-y: auto;
    border: none;
    background: #fff;
}

#corpo::-webkit-scrollbar {
    display: none;
}

#buttonSender {
    width: 100px;
    height: 40px;
    border: 1px solid #d1cdcd;
    border-radius: 5px;
    background: #2196f7;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(1360px, 15px);
}

#btn-setimg {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    color: #2196f7;
    display: flex;
    transform: translate(1270px, 10px);
}

.mov-body {
    width: auto;
    height: auto;
    border: none;
    display: none;
    inset: 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
}

.mov-body.ativa {
    display: flex !important;
}