@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
  overflow-y: hidden;
  background: #e3e9f7;
  width: 100%;
  height: auto;
  padding-right: 0;
  font-family: 'Poppins';
}

.topo {
  width: 100%;
  height: 80px;
  background: #fff;
  border-bottom: 2px solid whitesmoke;
  display: flex;
  justify-content: space-between;
}

.title-body {
  display: flex;
  width: 200px;
  height: 80px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.openModal-body {
  width: 50px; 
  height: 50px;
  display: flex;
  justify-content: center;
  right: 0;
}

.open-modal {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: transparent;
}

.rodape {
  width: 100%;
  height: 80px;
  background: #fff;
  display: flex;
  z-index: 999;
  position: fixed;
  border-top: 2px solid #2196f3;
  bottom: 0;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-right: 20px;
  padding-bottom: 7px;
}

.return-page, .inbox-smtp {
  width: 45px;
  height: 45px;
  border-radius: 8px;
  background: #4285f4;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.submit {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 12px;
  background: #4285f4;
  color: white;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

#formSmtp {
  width: 100%;
  height: 800px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(200px);
  padding-left: 20px;
  background: whitesmoke;
}

.div-form {
  width: 1020px;
  height: 500px;
  border: none;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-150px);
  padding-right: 10px;
  background-color: whitesmoke;
}

.menu {
  width: 300px;
  height: 1150px;
  position: fixed;
  background: #fff;
  border: 1px solid gray;
  border-radius: 12px;
  display: flex;
  left: -300px;
  transform: translateY(-196px);
  transition: all 0.5s ease-in-out;
  z-index: 1000;
}

.menu.ativo {
  display: flex;
  transition: all 0.5s ease-in-out;
  left: 0;
}

#nome {
  width: 300px;
  height: 50px;
  left: 30px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  display: flex;
}

#remetente {
  width: 300px;
  height: 50px;
  left: 30px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
}

#destinatario {
  width: 300px;
  height: 50px;
  left: 30px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
}

#senha_app {
  width: 300px;
  height: 50px;
  left: 30px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
}

#assunto {
  width: 300px;
  height: 80px;
  left: 30px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  padding-top: 10px;
  padding-left: 10px;
  resize: none;
}

#nome::placeholder {
  color: black;
  font-weight: bold;
  font-size: 10px;
}

#remetente::placeholder {
  color: black;
  font-weight: bold;
  font-size: 10px;
}

#destinatario::placeholder {
  color: black;
  font-weight: bold;
  font-size: 10px;
}

#senha_app::placeholder {
  color: black;
  font-weight: bold;
  font-size: 10px;
}

#assunto::placeholder {
  color: black;
  font-weight: bold;
  font-size: 13px;
}